<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <title>Actor Assignment</title>

  </head>

  <body>


<script language="JavaScript1.1" type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.7.1");
//-->
</script>

<h3 class="std">4.7.1 Actor Assignment</h3>
<p>Actors may have assignments indicating objects for which they have responsibility.  An example of such assignment is a work order assigned to an organization.</p><p>Figure 69 illustrates an instance diagram.</p>
<table><tr><td><img alt="Actor Assignment" src="./diagrams/actor-assignment.png" usemap="#f69"><map name="f69"><area shape="rect" coords="8,8,176,236" href="../ifckernel/lexical/ifcactor.htm" alt="IfcActor" /><area shape="rect" coords="208,8,376,116" href="../ifckernel/lexical/ifcrelassignstoactor.htm" alt="IfcRelAssignsToActor" /><area shape="rect" coords="408,8,576,236" href="../ifckernel/lexical/ifccontrol.htm" alt="IfcControl" /></map></td></tr><tr><td><p class="figure">Figure 69 &mdash; Actor Assignment</p></td></tr></table>

<p><a href="../../link/actor-assignment.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
