<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <title>Approval</title>

  </head>

  <body>


<script language="JavaScript1.1" type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.1");
//-->
</script>

<h3 class="std">4.1.4 Approval</h3>

      <p class="std">
        Any object or property can have associated approvals indicating who is required to approve the data, the status
        of whether it has been approved, and the date/time of such approval. 
        Approvals may require multiple parties fulfilling various roles.
      </p>

<p>Figure 4 illustrates an instance diagram.</p>
<table><tr><td><img alt="Approval" src="./diagrams/approval.png" usemap="#f4"><map name="f4"><area shape="rect" coords="8,8,176,152" href="../ifckernel/lexical/ifcobjectdefinition.htm" alt="IfcObjectDefinition" /><area shape="rect" coords="208,8,376,92" href="../ifccontrolextension/lexical/ifcrelassociatesapproval.htm" alt="IfcRelAssociatesApproval" /><area shape="rect" coords="408,8,576,188" href="../ifcapprovalresource/lexical/ifcapproval.htm" alt="IfcApproval" /></map></td></tr><tr><td><p class="figure">Figure 4 &mdash; Approval</p></td></tr></table>

<p><a href="../../link/approval.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
