<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <title>Control Assignment</title>

  </head>

  <body>


<script language="JavaScript1.1" type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.7.2");
//-->
</script>

<h3 class="std">4.7.2 Control Assignment</h3>
<p>Controls may have assignments indicating objects that must observe the established requirements.  An example of such assignment is a labor resource assigned to a calendar.</p><p>Figure 70 illustrates an instance diagram.</p>
<table><tr><td><img alt="Control Assignment" src="./diagrams/control-assignment.png" usemap="#f70"><map name="f70"><area shape="rect" coords="8,8,176,236" href="../ifckernel/lexical/ifccontrol.htm" alt="IfcControl" /><area shape="rect" coords="208,8,376,104" href="../ifckernel/lexical/ifcrelassignstocontrol.htm" alt="IfcRelAssignsToControl" /><area shape="rect" coords="408,8,576,212" href="../ifckernel/lexical/ifcobject.htm" alt="IfcObject" /></map></td></tr><tr><td><p class="figure">Figure 70 &mdash; Control Assignment</p></td></tr></table>

<p><a href="../../link/control-assignment.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
