<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <title>Control Flow</title>

  </head>

  <body>


<script language="JavaScript1.1" type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.8.4");
//-->
</script>

<h3 class="std">4.8.4 Control Flow</h3>
<p>Control elements (such as sensors) that monitor or control behavior of flow elements (such as valves) use this relationship to indicate control flow logical behavior.</p><p>Figure 84 illustrates an instance diagram.</p>
<table><tr><td><img alt="Control Flow" src="./diagrams/control-flow.png" usemap="#f84"><map name="f84"><area shape="rect" coords="8,8,176,416" href="../ifcsharedbldgserviceelements/lexical/ifcdistributioncontrolelement.htm" alt="IfcDistributionControlElement" /><area shape="rect" coords="208,8,376,92" href="../ifcsharedbldgserviceelements/lexical/ifcrelflowcontrolelements.htm" alt="IfcRelFlowControlElements" /><area shape="rect" coords="408,8,576,416" href="../ifcsharedbldgserviceelements/lexical/ifcdistributionflowelement.htm" alt="IfcDistributionFlowElement" /></map></td></tr><tr><td><p class="figure">Figure 84 &mdash; Control Flow</p></td></tr></table>

<p><a href="../../link/control-flow.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
