<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <title>Element Decomposition</title>

  </head>

  <body>


<script language="JavaScript1.1" type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.6.1.2");
//-->
</script>

<h4 class="std">4.6.1.2 Element Decomposition</h4>
<p>Provision of an aggregation structure where the element, representing the composite, is decomposed into parts represented by other elements. </p>
<p>The composite then provides, if such concepts are in scope of the Model View Definition, exclusively the following:</p>
<ul>
<li><i>Placement</i> &mdash; the common object coordinate system to which the parts are placed relative</li>
</ul>
<p>By default the following constraints apply to an element being decomposed by <i>Element Decomposition</i>:</p>
<ul>
<li><i>Body Geometry</i> &mdash; composite is constructed from the sum of the <i>Body Geometry</i> of the parts;</li>
<li>the composite shall not have an own <i>Body Geometry</i>, body geometry is provided at the parts;</li>
<li>the composite shall not have an own <i>Material</i> assignment, material is assigned to the parts.</li>
</ul>
<p>Figure 62 illustrates an instance diagram.</p>
<table><tr><td><img alt="Element Decomposition" src="./diagrams/element-decomposition.png" usemap="#f62"><map name="f62"><area shape="rect" coords="8,8,176,392" href="../ifcproductextension/lexical/ifcelement.htm" alt="IfcElement" /><area shape="rect" coords="208,8,376,92" href="../ifckernel/lexical/ifcrelaggregates.htm" alt="IfcRelAggregates" /><area shape="rect" coords="408,8,576,392" href="../ifcproductextension/lexical/ifcelement.htm" alt="IfcElement" /></map></td></tr><tr><td><p class="figure">Figure 62 &mdash; Element Decomposition</p></td></tr></table>

<p><a href="../../link/element-decomposition.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
