<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <title>FootPrint Geometry</title>

  </head>

  <body>


<script language="JavaScript1.1" type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.4.2.4");
//-->
</script>

<h4 class="std">4.4.2.4 FootPrint Geometry</h4>
<p>
Elements filling a boundary provide a 'Footprint'
 representation indicating a rectangle or any arbitrary set
 of outer and inner boundary curves. Examples of such
 elements include slabs and spaces. For elements that have a material layer set association indicating material thicknesses,
 a 'Body' representation may be generated based on the
 footprint and material layers. Fill area styles may
 indicate particular colors, tiles, or hatching for 2D
 rendering.

</p>
<p>The representation identifier of the foot print representation
 is:</p>

<ul>
 
<li><a href="../ifcrepresentationresource/lexical/ifcshaperepresentation.htm">IfcShapeRepresentation</a><i>.RepresentationIdentifier</i> =
'FootPrint'</li>


</ul>
<p>Figure 34 illustrates an instance diagram.</p>
<table><tr><td><img alt="FootPrint Geometry" src="./diagrams/footprint-geometry.png" usemap="#f34"><map name="f34"><area shape="rect" coords="8,8,176,248" href="../ifckernel/lexical/ifcproduct.htm" alt="IfcProduct" /><area shape="rect" coords="208,8,376,80" href="../ifcrepresentationresource/lexical/ifcproductdefinitionshape.htm" alt="IfcProductDefinitionShape" /><area shape="rect" coords="408,8,576,116" href="../ifcrepresentationresource/lexical/ifcshaperepresentation.htm" alt="IfcShapeRepresentation" /><area shape="rect" coords="608,8,776,116" href="../ifcrepresentationresource/lexical/ifcgeometricrepresentationcontext.htm" alt="IfcGeometricRepresentationContext" /><area shape="rect" coords="608,128,776,140" href="../ifcmeasureresource/lexical/ifclabel.htm" alt="IfcLabel" /><area shape="rect" coords="608,152,776,164" href="../ifcmeasureresource/lexical/ifclabel.htm" alt="IfcLabel" /></map></td></tr><tr><td><p class="figure">Figure 34 &mdash; FootPrint Geometry</p></td></tr></table>

<p><a href="../../link/footprint-geometry.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
