<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <title>Object Nesting</title>

  </head>

  <body>


<script language="JavaScript1.1" type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.6.3");
//-->
</script>

<h3 class="std">4.6.3 Object Nesting</h3>
<p>Nesting indicates an ordered arrangement relationship. Nesting is used:</p>
<ul>
<li>on building elements to indicate features placed in sequence such as ports.</li>



<li>on control objects to indicate specification hierarchies.</li>



<li>on process objects to indicate subordinate task details.</li>


<li>on resource objects to indicate subordinate resource allocations.</li>
</ul><p>Figure 66 illustrates an instance diagram.</p>
<table><tr><td><img alt="Object Nesting" src="./diagrams/object-nesting.png" usemap="#f66"><map name="f66"><area shape="rect" coords="8,8,176,152" href="../ifckernel/lexical/ifcobjectdefinition.htm" alt="IfcObjectDefinition" /><area shape="rect" coords="208,8,376,92" href="../ifckernel/lexical/ifcrelnests.htm" alt="IfcRelNests" /><area shape="rect" coords="408,8,576,212" href="../ifckernel/lexical/ifcobject.htm" alt="IfcObject" /></map></td></tr><tr><td><p class="figure">Figure 66 &mdash; Object Nesting</p></td></tr></table>

<p><a href="../../link/object-nesting.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
