<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <title>Object Aggregation</title>

  </head>

  <body>


<script language="JavaScript1.1" type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.6.1");
//-->
</script>

<h3 class="std">4.6.1 Object Aggregation</h3>
<p>An aggregation indicates an unordered part composition relationship between the whole structure, referred to as the "composite", and the subordinate components, referred to as the "parts". The concept of aggregation is used in various ways. Examples are:</p>



<ul>
<li>Aggregation is used on building elements to indicate parts such as studs within a wall;</li>



<li>Aggregation is used on spatial elements to indicate a spatial structure such as a story within a building;</li>



<li>Aggregation is used on systems to indicate subsystems such as branch circuits.</li>

</ul>
<p>Aggregation is a bi-directional relationship, the relationship from the composite to its parts is called Decomposition, and the relationship from the part to its composite is called Composition.</p><p>Figure 60 illustrates an instance diagram.</p>
<table><tr><td><img alt="Object Aggregation" src="./diagrams/object-aggregation.png" usemap="#f60"><map name="f60"><area shape="rect" coords="8,8,176,152" href="../ifckernel/lexical/ifcobjectdefinition.htm" alt="IfcObjectDefinition" /><area shape="rect" coords="208,8,376,92" href="../ifckernel/lexical/ifcrelaggregates.htm" alt="IfcRelAggregates" /><area shape="rect" coords="408,8,576,212" href="../ifckernel/lexical/ifcobject.htm" alt="IfcObject" /><area shape="rect" coords="208,104,376,188" href="../ifckernel/lexical/ifcrelaggregates.htm" alt="IfcRelAggregates" /><area shape="rect" coords="408,224,576,428" href="../ifckernel/lexical/ifcobject.htm" alt="IfcObject" /></map></td></tr><tr><td><p class="figure">Figure 60 &mdash; Object Aggregation</p></td></tr></table>

<p><a href="../../link/object-aggregation.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
