<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <title>Object Documentation</title>

  </head>

  <body>


<script language="JavaScript1.1" type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.3.2");
//-->
</script>

<h3 class="std">4.3.2 Object Documentation</h3>
<p>The concept <i>Object Documentation</i> describes how objects or object types can have associated documents indicating external files. Documents may be referenced in
 their entirety such as to capture product brochures, data sheets, multimedia content, or thumbnail images. Contents
  within documents may be referenced from any object, and may be used to synchronize information in other files such as
 work schedules for project management applications.</p>


<p>Typical document meta data, such as issue date, editor, and similar, can be captured with the association, the document content however remains with the external files.</p><p>Figure 15 illustrates an instance diagram.</p>
<table><tr><td><img alt="Object Documentation" src="./diagrams/object-documentation.png" usemap="#f15"><map name="f15"><area shape="rect" coords="8,8,176,152" href="../ifckernel/lexical/ifcobjectdefinition.htm" alt="IfcObjectDefinition" /><area shape="rect" coords="208,8,376,92" href="../ifckernel/lexical/ifcrelassociatesdocument.htm" alt="IfcRelAssociatesDocument" /><area shape="rect" coords="408,8,576,104" href="../ifcexternalreferenceresource/lexical/ifcdocumentreference.htm" alt="IfcDocumentReference" /><area shape="rect" coords="608,8,776,272" href="../ifcexternalreferenceresource/lexical/ifcdocumentinformation.htm" alt="IfcDocumentInformation" /><area shape="rect" coords="808,8,976,20" href="../ifcexternalreferenceresource/lexical/ifcurireference.htm" alt="IfcURIReference" /></map></td></tr><tr><td><p class="figure">Figure 15 &mdash; Object Documentation</p></td></tr></table>

<p><a href="../../link/object-documentation.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
