<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <title>Object Type Definitions</title>

  </head>

  <body>


<script language="JavaScript1.1" type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.1.1.1");
//-->
</script>

<h4 class="std">4.1.1.1 Object Type Definitions</h4>
<p>Declaration of object types, such as element types utilized by the element occurrences within this project, within the context of the project</p><p>Figure 2 illustrates an instance diagram.</p>
<table><tr><td><img alt="Object Type Definitions" src="./diagrams/object-type-definitions.png" usemap="#f2"><map name="f2"><area shape="rect" coords="8,8,176,236" href="../ifckernel/lexical/ifccontext.htm" alt="IfcContext" /><area shape="rect" coords="208,8,376,92" href="../ifckernel/lexical/ifcreldeclares.htm" alt="IfcRelDeclares" /><area shape="rect" coords="408,8,576,188" href="../ifckernel/lexical/ifctypeobject.htm" alt="IfcTypeObject" /></map></td></tr><tr><td><p class="figure">Figure 2 &mdash; Object Type Definitions</p></td></tr></table>

<p><a href="../../link/object-type-definitions.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
