<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <title>Path Connectivity</title>

  </head>

  <body>


<script language="JavaScript1.1" type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.8.3.1");
//-->
</script>

<h4 class="std">4.8.3.1 Path Connectivity</h4>
<p>Elements based on an 'Axis' representation such as walls, beams, and columns use a path connectivity relationship to indicate parameters for the connection, indicating which side takes precedence for material layers or profiles.</p><p>Figure 82 illustrates an instance diagram.</p>
<table><tr><td><img alt="Path Connectivity" src="./diagrams/path-connectivity.png" usemap="#f82"><map name="f82"><area shape="rect" coords="8,8,176,392" href="../ifcproductextension/lexical/ifcelement.htm" alt="IfcElement" /><area shape="rect" coords="208,8,376,152" href="../ifcsharedbldgelements/lexical/ifcrelconnectspathelements.htm" alt="IfcRelConnectsPathElements" /><area shape="rect" coords="408,8,576,44" href="../ifcgeometricconstraintresource/lexical/ifcconnectioncurvegeometry.htm" alt="IfcConnectionCurveGeometry" /><area shape="rect" coords="608,8,776,56" href="../ifcgeometryresource/lexical/ifcpolyline.htm" alt="IfcPolyline" /><area shape="rect" coords="608,68,776,116" href="../ifcgeometryresource/lexical/ifcpolyline.htm" alt="IfcPolyline" /><area shape="rect" coords="408,56,576,440" href="../ifcproductextension/lexical/ifcelement.htm" alt="IfcElement" /></map></td></tr><tr><td><p class="figure">Figure 82 &mdash; Path Connectivity</p></td></tr></table>

<p><a href="../../link/path-connectivity.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
