<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <title>Process Type Assignment</title>

  </head>

  <body>


<script language="JavaScript1.1" type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.7.8");
//-->
</script>

<h3 class="std">4.7.8 Process Type Assignment</h3>
<p>Process types may have assignments indicating re-usable resource types for which occurrences may be consumed or occupied by occurrences of the process type.  An example of such assignment is a concrete mixer resource type for delivering concrete.</p><p>Figure 76 illustrates an instance diagram.</p>
<table><tr><td><img alt="Process Type Assignment" src="./diagrams/process-type-assignment.png" usemap="#f76"><map name="f76"><area shape="rect" coords="8,8,176,236" href="../ifckernel/lexical/ifctypeprocess.htm" alt="IfcTypeProcess" /><area shape="rect" coords="208,8,376,116" href="../ifckernel/lexical/ifcrelassignstoprocess.htm" alt="IfcRelAssignsToProcess" /><area shape="rect" coords="408,8,576,236" href="../ifckernel/lexical/ifctyperesource.htm" alt="IfcTypeResource" /></map></td></tr><tr><td><p class="figure">Figure 76 &mdash; Process Type Assignment</p></td></tr></table>

<p><a href="../../link/process-type-assignment.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
