<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <title>Process Assignment</title>

  </head>

  <body>


<script language="JavaScript1.1" type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.7.5");
//-->
</script>

<h3 class="std">4.7.5 Process Assignment</h3>
<p>Processes may have assignments indicating resources consumed or occupied by the process.  An example of such assignment is a carpenter labor resource building a wall.</p><p>Figure 73 illustrates an instance diagram.</p>
<table><tr><td><img alt="Process Assignment" src="./diagrams/process-assignment.png" usemap="#f73"><map name="f73"><area shape="rect" coords="8,8,176,272" href="../ifckernel/lexical/ifcprocess.htm" alt="IfcProcess" /><area shape="rect" coords="208,8,376,116" href="../ifckernel/lexical/ifcrelassignstoprocess.htm" alt="IfcRelAssignsToProcess" /><area shape="rect" coords="408,8,576,248" href="../ifckernel/lexical/ifcresource.htm" alt="IfcResource" /></map></td></tr><tr><td><p class="figure">Figure 73 &mdash; Process Assignment</p></td></tr></table>

<p><a href="../../link/process-assignment.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
