<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <title>Product Type Representation</title>

  </head>

  <body>


<script language="JavaScript1.1" type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.5.1");
//-->
</script>

<h3 class="std">4.5.1 Product Type Representation</h3>
<p>Product types may have representations indicating shape representation for geometry, clearance, or other concepts.</p>
<p>The shape representation attached to a type is defined using the relationship <i>RepresentationMaps</i> of data type <a href="../ifcgeometryresource/lexical/ifcrepresentationmap.htm">IfcRepresentationMap</a>. It provides the means to store several representation maps for different purposes. In order to utilze the representation map at each occurrence of the product type, the product occurrence has to use the concept 'Mapped Geometry'.</p>
<blockquote class="note">NOTE&nbsp; See <a href="../ifckernel/lexical/ifctypeproduct.htm">IfcTypeProduct</a> for further information and figures explaning the concepts 'Product Type Representation' and 'Mapped Geometry'.</blockquote><p><a href="../../link/product-type-representation.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
