<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <title>Quantity Sets</title>

  </head>

  <body>


<script language="JavaScript1.1" type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.2.3");
//-->
</script>

<h3 class="std">4.2.3 Quantity Sets</h3>

<p>
Any specialization of object can be related to multiple quantity set occurrences. A quantity set
 contains multiple quantity occurrences. The data type of
 quantity occurrence values are count, length, area, volume, weight, time, or a combination of quantities. Each quantity is defined by its name, value, and optionally a description and a formula.</p>

<p>The quantity set is expressed by instances of <a href="../ifcproductextension/lexical/ifcelementquantity.htm">IfcElementQuantity</a>, where the <i>Name</i> attribute determines the common designator of the quantity set. This specification contains a number of predefined quantity sets, a template definition is provided for each of them. The name of the template has to be used as the value of the <i>Name</i> attribute. The <i>MethodOfMeasurement</i> attribute specifies the method, by which the values of the individual quantities are calculated. For the quantity set templates included in this specification, the value of <i>MethodOfMeasurement</i> shall be "BaseQuantities".</p><p>Figure 13 illustrates an instance diagram.</p>
<table><tr><td><img alt="Quantity Sets" src="./diagrams/quantity-sets.png" usemap="#f13"><map name="f13"><area shape="rect" coords="8,8,176,212" href="../ifckernel/lexical/ifcobject.htm" alt="IfcObject" /><area shape="rect" coords="208,8,376,92" href="../ifckernel/lexical/ifcreldefinesbyproperties.htm" alt="IfcRelDefinesByProperties" /><area shape="rect" coords="408,8,576,152" href="../ifcproductextension/lexical/ifcelementquantity.htm" alt="IfcElementQuantity" /><area shape="rect" coords="608,8,776,68" href="../ifcquantityresource/lexical/ifcphysicalquantity.htm" alt="IfcPhysicalQuantity" /></map></td></tr><tr><td><p class="figure">Figure 13 &mdash; Quantity Sets</p></td></tr></table>

<p><a href="../../link/quantity-sets.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
