<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <title>Resource Quantity</title>

  </head>

  <body>


<script language="JavaScript1.1" type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.10.2");
//-->
</script>

<h3 class="std">4.10.2 Resource Quantity</h3>
<p>Resources may be defined according to a base quantity, where assigned tasks consume such amount of resource relative to an output quantity.</p>

<p>For work-based resources such as labor and equipment, quantities are based on time.
For product-based resources, quantities are based on count.  
For material-based resources, quantities are based on volume.</p>
<p>Figure 92 illustrates an instance diagram.</p>
<table><tr><td><img alt="Resource Quantity" src="./diagrams/resource-quantity.png" usemap="#f92"><map name="f92"><area shape="rect" coords="8,8,176,284" href="../ifcconstructionmgmtdomain/lexical/ifcconstructionresource.htm" alt="IfcConstructionResource" /><area shape="rect" coords="208,8,376,80" href="../ifcquantityresource/lexical/ifcphysicalsimplequantity.htm" alt="IfcPhysicalSimpleQuantity" /><area shape="rect" coords="408,8,576,20" href="../ifcmeasureresource/lexical/ifclabel.htm" alt="IfcLabel" /></map></td></tr><tr><td><p class="figure">Figure 92 &mdash; Resource Quantity</p></td></tr></table>

<p><a href="../../link/resource-quantity.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
