<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <title>Resource Cost</title>

  </head>

  <body>


<script language="JavaScript1.1" type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.10.1");
//-->
</script>

<h3 class="std">4.10.1 Resource Cost</h3>
<p>Resources can have associated costs indicating financial costs and environmental impacts incurred according to a specified base quantity.</p>
<p>Each cost value may be defined using a constant amount or calculated according to specified formula.</p><p>Figure 91 illustrates an instance diagram.</p>
<table><tr><td><img alt="Resource Cost" src="./diagrams/resource-cost.png" usemap="#f91"><map name="f91"><area shape="rect" coords="8,8,176,284" href="../ifcconstructionmgmtdomain/lexical/ifcconstructionresource.htm" alt="IfcConstructionResource" /><area shape="rect" coords="208,8,376,152" href="../ifccostresource/lexical/ifcappliedvalue.htm" alt="IfcAppliedValue" /><area shape="rect" coords="408,8,576,20" href="../ifcmeasureresource/lexical/ifclabel.htm" alt="IfcLabel" /></map></td></tr><tr><td><p class="figure">Figure 91 &mdash; Resource Cost</p></td></tr></table>

<p><a href="../../link/resource-cost.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
