<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <title>Resource Type Assignment</title>

  </head>

  <body>


<script language="JavaScript1.1" type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.7.9");
//-->
</script>

<h3 class="std">4.7.9 Resource Type Assignment</h3>
<p>Resource types may have assignments indicating re-usable product types for which occurrences may be sourced by occurrences of the resource type.  An example of such assignment is a particular crane model that may be used for a crane equipment resource used for erecting steel.</p><p>Figure 77 illustrates an instance diagram.</p>
<table><tr><td><img alt="Resource Type Assignment" src="./diagrams/resource-type-assignment.png" usemap="#f77"><map name="f77"><area shape="rect" coords="8,8,176,236" href="../ifckernel/lexical/ifctyperesource.htm" alt="IfcTypeResource" /><area shape="rect" coords="208,8,376,104" href="../ifckernel/lexical/ifcrelassignstoresource.htm" alt="IfcRelAssignsToResource" /><area shape="rect" coords="408,8,576,224" href="../ifckernel/lexical/ifctypeproduct.htm" alt="IfcTypeProduct" /></map></td></tr><tr><td><p class="figure">Figure 77 &mdash; Resource Type Assignment</p></td></tr></table>

<p><a href="../../link/resource-type-assignment.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
