<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <title>Resource Assignment</title>

  </head>

  <body>


<script language="JavaScript1.1" type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.7.6");
//-->
</script>

<h3 class="std">4.7.6 Resource Assignment</h3>
<p>Resources may have assignments indicating sources available to be used.  An example of such assignment is a person fulfilling a carpenter labor resource.</p><p>Figure 74 illustrates an instance diagram.</p>
<table><tr><td><img alt="Resource Assignment" src="./diagrams/resource-assignment.png" usemap="#f74"><map name="f74"><area shape="rect" coords="8,8,176,248" href="../ifckernel/lexical/ifcresource.htm" alt="IfcResource" /><area shape="rect" coords="208,8,376,104" href="../ifckernel/lexical/ifcrelassignstoresource.htm" alt="IfcRelAssignsToResource" /><area shape="rect" coords="408,8,576,236" href="../ifckernel/lexical/ifcactor.htm" alt="IfcActor" /><area shape="rect" coords="408,248,576,488" href="../ifckernel/lexical/ifcproduct.htm" alt="IfcProduct" /></map></td></tr><tr><td><p class="figure">Figure 74 &mdash; Resource Assignment</p></td></tr></table>

<p><a href="../../link/resource-assignment.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
