<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <title>Space Boundaries</title>

  </head>

  <body>


<script language="JavaScript1.1" type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.8.2");
//-->
</script>

<h3 class="std">4.8.2 Space Boundaries</h3>
<p>Spaces may have boundaries defined by building elements such as walls, slabs, doors, and windows.  Such information may be used to determine heat transmission through surrounding materials.</p><p>Figure 80 illustrates an instance diagram.</p>
<table><tr><td><img alt="Space Boundaries" src="./diagrams/space-boundaries.png" usemap="#f80"><map name="f80"><area shape="rect" coords="8,8,176,356" href="../ifcproductextension/lexical/ifcspace.htm" alt="IfcSpace" /><area shape="rect" coords="208,8,376,128" href="../ifcproductextension/lexical/ifcrelspaceboundary.htm" alt="IfcRelSpaceBoundary" /><area shape="rect" coords="408,8,576,392" href="../ifcproductextension/lexical/ifcelement.htm" alt="IfcElement" /></map></td></tr><tr><td><p class="figure">Figure 80 &mdash; Space Boundaries</p></td></tr></table>

<p><a href="../../link/space-boundaries.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
