<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <title>Spatial Structure</title>

  </head>

  <body>


<script language="JavaScript1.1" type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.8.1");
//-->
</script>

<h3 class="std">4.8.1 Spatial Structure</h3>
<p>Spatial structures, such as site, building, storey, or spaces, may contain physical elements, including building elements, distribution elements, and furnishing elements. The containment relationship between the physical elements and the spatial structures is hierarchical, i.e. a physical element shall only be contained within a single spatial structure.</p>

<blockquote class="example">EXAMPLE&nbsp; An <a href="../ifcsharedbldgelements/lexical/ifcbeam.htm">IfcBeam</a> is placed within the spatial hierarchy using the objectified relationship <a href="../ifcproductextension/lexical/ifcrelcontainedinspatialstructure.htm">IfcRelContainedInSpatialStructure</a>, refering to it by its inverse attribute <i>SELF\IfcElement.ContainedInStructure</i>. Subtypes of <a href="../ifcproductextension/lexical/ifcspatialstructureelement.htm">IfcSpatialStructureElement</a> are valid spatial containers, with <a href="../ifcproductextension/lexical/ifcbuildingstorey.htm">IfcBuildingStorey</a> being the default container. </blockquote>

<p>The spatial containment relationship, together with the Spatial decomposition relationship, being hierarchical as well, establishes the hiearchical project tree structure in a building information model.</p> 

<blockquote class="example">EXAMPLE&nbsp; The <a href="../ifcproductextension/lexical/ifcbuildingstorey.htm">IfcBuildingStorey</a> that logically contains the <a href="../ifcsharedbldgelements/lexical/ifcbeam.htm">IfcBeam</a> decomposes the <a href="../ifcproductextension/lexical/ifcbuilding.htm">IfcBuilding</a> using the <a href="../ifckernel/lexical/ifcrelaggregates.htm">IfcRelAggregates</a> relationship. Therefore the <a href="../ifcsharedbldgelements/lexical/ifcbeam.htm">IfcBeam</a> is also indirectly contained in the building. </blockquote><p><a href="../../link/spatial-structure.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
