<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <title>Spatial Composition</title>

  </head>

  <body>


<script language="JavaScript1.1" type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.6.1.3");
//-->
</script>

<h4 class="std">4.6.1.3 Spatial Composition</h4>
<p>Provision of a spatial structure of the project by aggregating spatial elements. The spatial structure is a hierarchical tree of spatial elements ultimately assigned to the project. Composition refers to the relationship to a higher level element (e.g. this storey is part of a building).</p>

<p>The order of spatial structure elements being included in the concept for builing projects are from high to low level: <a href="../ifckernel/lexical/ifcproject.htm">IfcProject</a>, <a href="../ifcproductextension/lexical/ifcsite.htm">IfcSite</a>, <a href="../ifcproductextension/lexical/ifcbuilding.htm">IfcBuilding</a>, <a href="../ifcproductextension/lexical/ifcbuildingstorey.htm">IfcBuildingStorey</a>, <a href="../ifcproductextension/lexical/ifcspace.htm">IfcSpace</a>. Therefore an spatial structure element can only be part of an element at the same or higher level.</p>

<p>In addition a more general hierarchical tree of spatial elements can be created by using <a href="../ifcproductextension/lexical/ifcspatialzone.htm">IfcSpatialZone</a>.</i><p>Figure 63 illustrates an instance diagram.</p>
<table><tr><td><img alt="Spatial Composition" src="./diagrams/spatial-composition.png" usemap="#f63"><map name="f63"><area shape="rect" coords="8,8,176,296" href="../ifcproductextension/lexical/ifcspatialelement.htm" alt="IfcSpatialElement" /><area shape="rect" coords="208,8,376,92" href="../ifckernel/lexical/ifcrelaggregates.htm" alt="IfcRelAggregates" /><area shape="rect" coords="408,8,576,296" href="../ifcproductextension/lexical/ifcspatialelement.htm" alt="IfcSpatialElement" /><area shape="rect" coords="408,308,576,536" href="../ifckernel/lexical/ifccontext.htm" alt="IfcContext" /></map></td></tr><tr><td><p class="figure">Figure 63 &mdash; Spatial Composition</p></td></tr></table>

<p><a href="../../link/spatial-composition.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
