<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <title>Structural Connectivity</title>

  </head>

  <body>


<script language="JavaScript1.1" type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.8.7");
//-->
</script>

<h3 class="std">4.8.7 Structural Connectivity</h3>
<p>Structural items may be connected within an analysis model.</p><p>Figure 87 illustrates an instance diagram.</p>
<table><tr><td><img alt="Structural Connectivity" src="./diagrams/structural-connectivity.png" usemap="#f87"><map name="f87"><area shape="rect" coords="8,8,176,272" href="../ifcstructuralanalysisdomain/lexical/ifcstructuralmember.htm" alt="IfcStructuralMember" /><area shape="rect" coords="208,8,376,140" href="../ifcstructuralanalysisdomain/lexical/ifcrelconnectsstructuralmember.htm" alt="IfcRelConnectsStructuralMember" /><area shape="rect" coords="408,8,576,284" href="../ifcstructuralanalysisdomain/lexical/ifcstructuralconnection.htm" alt="IfcStructuralConnection" /></map></td></tr><tr><td><p class="figure">Figure 87 &mdash; Structural Connectivity</p></td></tr></table>

<p><a href="../../link/structural-connectivity.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
