<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <title>Structural Activity</title>

  </head>

  <body>


<script language="JavaScript1.1" type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.8.6");
//-->
</script>

<h3 class="std">4.8.6 Structural Activity</h3>
<p>Structural activities may be linked to structural items.</p><p>Figure 86 illustrates an instance diagram.</p>
<table><tr><td><img alt="Structural Activity" src="./diagrams/structural-activity.png" usemap="#f86"><map name="f86"><area shape="rect" coords="8,8,176,284" href="../ifcstructuralanalysisdomain/lexical/ifcstructuralactivity.htm" alt="IfcStructuralActivity" /><area shape="rect" coords="208,8,376,32" href="../ifcstructuralloadresource/lexical/ifcstructuralload.htm" alt="IfcStructuralLoad" /><area shape="rect" coords="208,44,376,128" href="../ifcstructuralanalysisdomain/lexical/ifcrelconnectsstructuralactivity.htm" alt="IfcRelConnectsStructuralActivity" /><area shape="rect" coords="408,8,576,260" href="../ifcstructuralanalysisdomain/lexical/ifcstructuralitem.htm" alt="IfcStructuralItem" /></map></td></tr><tr><td><p class="figure">Figure 86 &mdash; Structural Activity</p></td></tr></table>

<p><a href="../../link/structural-activity.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
