<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <title>Voiding</title>

  </head>

  <body>


<script language="JavaScript1.1" type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.3");
//-->
</script>

<h3 class="std">4.3.3 Voiding</h3>
<p>Elements may have voids defined, which may be partial recess or extending full depth. Voids for openings may optionally be filled by another element such as a door or window.</p><p>Figure 23 illustrates an instance diagram.</p>
<table><tr><td><img alt="Voiding" src="./diagrams/voiding.png" usemap="#f23"><map name="f23"><area shape="rect" coords="8,8,176,392" href="../ifcproductextension/lexical/ifcelement.htm" alt="IfcElement" /><area shape="rect" coords="208,8,376,92" href="../ifcproductextension/lexical/ifcrelvoidselement.htm" alt="IfcRelVoidsElement" /></map></td></tr><tr><td><p class="figure">Figure 23 &mdash; Voiding</p></td></tr></table>

<p><a href="../../link/voiding.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
