<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <link rel="stylesheet" type="text/css" href="../../details-shim.css">
    <script type="text/javascript" src="../../details-shim.js"></script>
    <title>Actor Assignment</title>

    <style type="text/css">
      body { counter-reset: index1 0 index2 0 index3 0 index4 -1 index5 0; }
    </style>
  </head>

  <body>


<script type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.6.1");
//-->
</script>

<h3 class="std">4.6.1 Actor Assignment</h3>
<p>Actors may have assignments indicating objects for which they have responsibility.  An example of such assignment is a work order assigned to an organization.</p><p class="fig-ref">Figure 39 illustrates an instance diagram.</p>
<table><tr><td><img alt="Actor Assignment" src="./diagrams/actor-assignment.png" usemap="#f39"><map name="f39"><area shape="rect" coords="8,8,176,236" href="../ifckernel/lexical/ifcactor.htm" alt="IfcActor" /><area shape="rect" coords="208,8,376,116" href="../ifckernel/lexical/ifcrelassignstoactor.htm" alt="IfcRelAssignsToActor" /><area shape="rect" coords="408,8,576,236" href="../ifckernel/lexical/ifccontrol.htm" alt="IfcControl" /></map></td></tr><tr><td><p class="figure">Figure 39 &mdash; Actor Assignment</p></td></tr></table>

<p><a href="../../link/actor-assignment.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
