<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <link rel="stylesheet" type="text/css" href="../../details-shim.css">
    <script type="text/javascript" src="../../details-shim.js"></script>
    <title>Axis Geometry</title>

    <style type="text/css">
      body { counter-reset: index1 0 index2 0 index3 0 index4 -1 index5 0; }
    </style>
  </head>

  <body>


<script type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.8.2.3");
//-->
</script>

<h4 class="std">4.8.2.3 Axis Geometry</h4>
<p>
Elements following a path provide an 'Axis' representation
 indicating a line segment or any arbitrary open bounded curve.
 Examples of such elements include walls, beams, columns,
 pipes, ducts, and cables. For elements that have a material
 profile set association indicating cross-section, a
 'Body' representation may be generated based on the axis
 curve and material profiles. Curve styles may indicate
 particular colors, line thicknesses, and dash patterns for
 2D rendering.

</p>


<p>The representation identifier of the axis representation
 is:</p>

<ul>
 
<li><a href="../ifcrepresentationresource/lexical/ifcshaperepresentation.htm">IfcShapeRepresentation</a><i>.RepresentationIdentifier</i> =
'Axis'</li>

</ul>

<blockquote class="example">EXAMPLE&nbsp; 
A two-dimensional bounded curve is used as the wall axis in standard walls, a three-dimensional bounded curve is used as the reference axis in standard columns.</blockquote>
<p class="fig-ref">Figure 64 illustrates an instance diagram.</p>
<table><tr><td><img alt="Axis Geometry" src="./diagrams/axis-geometry.png" usemap="#f64"><map name="f64"><area shape="rect" coords="8,8,176,404" href="../ifcproductextension/lexical/ifcelement.htm" alt="IfcElement" /><area shape="rect" coords="208,8,376,80" href="../ifcrepresentationresource/lexical/ifcproductdefinitionshape.htm" alt="IfcProductDefinitionShape" /><area shape="rect" coords="408,8,576,116" href="../ifcrepresentationresource/lexical/ifcshaperepresentation.htm" alt="IfcShapeRepresentation" /><area shape="rect" coords="608,8,776,128" href="../ifcrepresentationresource/lexical/ifcgeometricrepresentationcontext.htm" alt="IfcGeometricRepresentationContext" /><area shape="rect" coords="608,148,776,160" href="../ifcmeasureresource/lexical/ifclabel.htm" alt="IfcLabel" /><area shape="rect" coords="608,180,776,192" href="../ifcmeasureresource/lexical/ifclabel.htm" alt="IfcLabel" /></map></td></tr><tr><td><p class="figure">Figure 64 &mdash; Axis Geometry</p></td></tr></table>

<p><a href="../../link/axis-geometry.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
