<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <link rel="stylesheet" type="text/css" href="../../details-shim.css">
    <script type="text/javascript" src="../../details-shim.js"></script>
    <title>Control Assignment</title>

    <style type="text/css">
      body { counter-reset: index1 0 index2 0 index3 0 index4 -1 index5 0; }
    </style>
  </head>

  <body>


<script type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.6.2");
//-->
</script>

<h3 class="std">4.6.2 Control Assignment</h3>
<p>Controls may have assignments indicating objects that must observe the established requirements.  An example of such assignment is a labor resource assigned to a calendar.</p><p class="fig-ref">Figure 40 illustrates an instance diagram.</p>
<table><tr><td><img alt="Control Assignment" src="./diagrams/control-assignment.png" usemap="#f40"><map name="f40"><area shape="rect" coords="8,8,176,236" href="../ifckernel/lexical/ifccontrol.htm" alt="IfcControl" /><area shape="rect" coords="208,8,376,104" href="../ifckernel/lexical/ifcrelassignstocontrol.htm" alt="IfcRelAssignsToControl" /><area shape="rect" coords="408,8,576,212" href="../ifckernel/lexical/ifcobject.htm" alt="IfcObject" /></map></td></tr><tr><td><p class="figure">Figure 40 &mdash; Control Assignment</p></td></tr></table>

<p><a href="../../link/control-assignment.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
