<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <link rel="stylesheet" type="text/css" href="../../details-shim.css">
    <script type="text/javascript" src="../../details-shim.js"></script>
    <title>Element Connectivity</title>

    <style type="text/css">
      body { counter-reset: index1 0 index2 0 index3 0 index4 -1 index5 0; }
    </style>
  </head>

  <body>


<script type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.7.3");
//-->
</script>

<h3 class="std">4.7.3 Element Connectivity</h3>
<p>Elements may be connected to other elements, where the <i>RelatingElement</i> is of equal or higher priority, is generally constructed first, and/or anchors the <i>RelatedElement</i>.</p><p class="fig-ref">Figure 50 illustrates an instance diagram.</p>
<table><tr><td><img alt="Element Connectivity" src="./diagrams/element-connectivity.png" usemap="#f50"><map name="f50"><area shape="rect" coords="8,8,176,404" href="../ifcproductextension/lexical/ifcelement.htm" alt="IfcElement" /></map></td></tr><tr><td><p class="figure">Figure 50 &mdash; Element Connectivity</p></td></tr></table>

<p><a href="../../link/element-connectivity.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
