<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <link rel="stylesheet" type="text/css" href="../../details-shim.css">
    <script type="text/javascript" src="../../details-shim.js"></script>
    <title>Geometry Styles</title>

    <style type="text/css">
      body { counter-reset: index1 0 index2 0 index3 0 index4 -1 index5 0; }
    </style>
  </head>

  <body>


<script type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.11.4");
//-->
</script>

<h3 class="std">4.11.4 Geometry Styles</h3>
<p class="fig-ref">Figure 108 illustrates an instance diagram.</p>
<table><tr><td><img alt="Geometry Styles" src="./diagrams/geometry-styles.png" usemap="#f108"><map name="f108"><area shape="rect" coords="8,8,176,32" href="../ifcpresentationappearanceresource/lexical/ifcpresentationstyle.htm" alt="IfcPresentationStyle" /><area shape="rect" coords="208,8,376,20" href="../ifcmeasureresource/lexical/ifclabel.htm" alt="IfcLabel" /></map></td></tr><tr><td><p class="figure">Figure 108 &mdash; Geometry Styles</p></td></tr></table>

<p><a href="../../link/geometry-styles.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
