<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <link rel="stylesheet" type="text/css" href="../../details-shim.css">
    <script type="text/javascript" src="../../details-shim.js"></script>
    <title>Indexed Texture Map</title>

    <style type="text/css">
      body { counter-reset: index1 0 index2 0 index3 0 index4 -1 index5 0; }
    </style>
  </head>

  <body>


<script type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.11.7.2.1");
//-->
</script>

<h5 class="std">4.11.7.2.1 Indexed Texture Map</h5>
<p class="fig-ref">Figure 116 illustrates an instance diagram.</p>
<table><tr><td><img alt="Indexed Texture Map" src="./diagrams/indexed-texture-map.png" usemap="#f116"><map name="f116"><area shape="rect" coords="8,8,176,68" href="../ifcpresentationappearanceresource/lexical/ifcindexedtriangletexturemap.htm" alt="IfcIndexedTriangleTextureMap" /><area shape="rect" coords="208,8,376,116" href="../ifcpresentationappearanceresource/lexical/ifcimagetexture.htm" alt="IfcImageTexture" /><area shape="rect" coords="208,136,376,160" href="../ifcpresentationappearanceresource/lexical/ifctexturevertexlist.htm" alt="IfcTextureVertexList" /></map></td></tr><tr><td><p class="figure">Figure 116 &mdash; Indexed Texture Map</p></td></tr></table>

<p><a href="../../link/indexed-texture-map.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
