<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <link rel="stylesheet" type="text/css" href="../../details-shim.css">
    <script type="text/javascript" src="../../details-shim.js"></script>
    <title>Material Properties</title>

    <style type="text/css">
      body { counter-reset: index1 0 index2 0 index3 0 index4 -1 index5 0; }
    </style>
  </head>

  <body>


<script type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.11.6");
//-->
</script>

<h3 class="std">4.11.6 Material Properties</h3>
<p>Material properties may capture standard or user-defined parameters.</p><p class="fig-ref">Figure 114 illustrates an instance diagram.</p>
<table><tr><td><img alt="Material Properties" src="./diagrams/material-properties.png" usemap="#f114"><map name="f114"><area shape="rect" coords="8,8,176,56" href="../ifcmaterialresource/lexical/ifcmaterialdefinition.htm" alt="IfcMaterialDefinition" /><area shape="rect" coords="208,8,376,80" href="../ifcmaterialresource/lexical/ifcmaterialproperties.htm" alt="IfcMaterialProperties" /><area shape="rect" coords="408,8,576,20" href="../ifcmeasureresource/lexical/ifcidentifier.htm" alt="IfcIdentifier" /><area shape="rect" coords="408,40,576,52" href="../ifcmeasureresource/lexical/ifctext.htm" alt="IfcText" /><area shape="rect" coords="408,72,576,192" href="../ifcpropertyresource/lexical/ifcproperty.htm" alt="IfcProperty" /></map></td></tr><tr><td><p class="figure">Figure 114 &mdash; Material Properties</p></td></tr></table>

<p><a href="../../link/material-properties.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
