<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <link rel="stylesheet" type="text/css" href="../../details-shim.css">
    <script type="text/javascript" src="../../details-shim.js"></script>
    <title>Nesting</title>

    <style type="text/css">
      body { counter-reset: index1 0 index2 0 index3 0 index4 -1 index5 0; }
    </style>
  </head>

  <body>


<script type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.5.2");
//-->
</script>

<h3 class="std">4.5.2 Nesting</h3>
<p>A nesting indicates an external ordered part composition relationship between the hosting structure, referred to as the "host", and the attached components, referred to as the "hosted elements". The concept of nesting is used in various ways. Examples are:</p>



<ul>


<li>Nesting is used on product elements to indicate external connectable parts such as faucets mounted on a sink, or switches within a junction box.</li>






<li>Nesting is used on control objects to indicate specification hierarchies.</li>




<li>Nesting is used on process objects to indicate subordinate processes which may occur in parallel or in series.</li>



<li>Nesting is used on resource objects to indicate subordinate resource allocations which may occur in parallel or in series.</li>

</ul>


<p>Nesting is a bi-directional relationship, the relationship from the hosting structure to its attached components is called Nesting, and the relationship from the components to their containing structure is called Hosting.</p><p class="fig-ref">Figure 34 illustrates an instance diagram.</p>
<table><tr><td><img alt="Nesting" src="./diagrams/nesting.png" usemap="#f34"><map name="f34"><area shape="rect" coords="8,8,176,152" href="../ifckernel/lexical/ifcobjectdefinition.htm" alt="IfcObjectDefinition" /><area shape="rect" coords="208,8,376,92" href="../ifckernel/lexical/ifcrelnests.htm" alt="IfcRelNests" /></map></td></tr><tr><td><p class="figure">Figure 34 &mdash; Nesting</p></td></tr></table>

<p><a href="../../link/nesting.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
