<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <link rel="stylesheet" type="text/css" href="../../details-shim.css">
    <script type="text/javascript" src="../../details-shim.js"></script>
    <title>Object Occurrence Predefined Type</title>

    <style type="text/css">
      body { counter-reset: index1 0 index2 0 index3 0 index4 -1 index5 0; }
    </style>
  </head>

  <body>


<script type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.3.3");
//-->
</script>

<h3 class="std">4.3.3 Object Occurrence Predefined Type</h3>
<p>
Many object occurrence and object type entities have an
 attribute named <i>PredefinedType</i> consisting of a specific
 enumeration. Such predefined
 type essentially provides another level of inheritance to
 further differentiate objects without the need for
 additional entities. Predefined types are not
 just informational; various rules apply such as applicable
 property
 sets, part composition, and distribution ports. If the object is typed by an <a href="../ifckernel/lexical/ifctypeobject.htm">IfcTypeObject</a>, then the <i>PredefinedType</i> at the <a href="../ifckernel/lexical/ifcobject.htm">IfcObject</a> occurrence shall only be used if the <i>PredefinedType</i> at <a href="../ifckernel/lexical/ifctypeobject.htm">IfcTypeObject</a> is set to <i>NOTDEFINED</i>.

<p>If a custom value is needed, the attribute <i>ObjectType</i> may be used to define such custom type, where the <i>PredefinedType</i> is set to <i>USERDEFINED</i>.</p><p class="fig-ref">Figure 15 illustrates an instance diagram.</p>
<table><tr><td><img alt="Object Occurrence Predefined Type" src="./diagrams/object-occurrence-predefined-type.png" usemap="#f15"><map name="f15"><area shape="rect" coords="8,8,176,212" href="../ifckernel/lexical/ifcobject.htm" alt="IfcObject" /><area shape="rect" coords="208,8,376,20" href="../ifcmeasureresource/lexical/ifclabel.htm" alt="IfcLabel" /></map></td></tr><tr><td><p class="figure">Figure 15 &mdash; Object Occurrence Predefined Type</p></td></tr></table>

<p><a href="../../link/object-occurrence-predefined-type.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
