<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <link rel="stylesheet" type="text/css" href="../../details-shim.css">
    <script type="text/javascript" src="../../details-shim.js"></script>
    <title>Process Assignment</title>

    <style type="text/css">
      body { counter-reset: index1 0 index2 0 index3 0 index4 -1 index5 0; }
    </style>
  </head>

  <body>


<script type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.6.5");
//-->
</script>

<h3 class="std">4.6.5 Process Assignment</h3>
<p>Processes may have assignments indicating resources consumed or occupied by the process.  An example of such assignment is a carpenter labor resource building a wall.</p><p class="fig-ref">Figure 43 illustrates an instance diagram.</p>
<table><tr><td><img alt="Process Assignment" src="./diagrams/process-assignment.png" usemap="#f43"><map name="f43"><area shape="rect" coords="8,8,176,272" href="../ifckernel/lexical/ifcprocess.htm" alt="IfcProcess" /><area shape="rect" coords="208,8,376,116" href="../ifckernel/lexical/ifcrelassignstoprocess.htm" alt="IfcRelAssignsToProcess" /><area shape="rect" coords="408,8,576,248" href="../ifckernel/lexical/ifcresource.htm" alt="IfcResource" /></map></td></tr><tr><td><p class="figure">Figure 43 &mdash; Process Assignment</p></td></tr></table>

<p><a href="../../link/process-assignment.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
