<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <link rel="stylesheet" type="text/css" href="../../details-shim.css">
    <script type="text/javascript" src="../../details-shim.js"></script>
    <title>Product Type Shape</title>

    <style type="text/css">
      body { counter-reset: index1 0 index2 0 index3 0 index4 -1 index5 0; }
    </style>
  </head>

  <body>


<script type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.9");
//-->
</script>

<h2 class="std">4.9 Product Type Shape</h2>
<p>Product types define explicit product models or parametric product families, that may be instantiated in buildings.</p><p class="fig-ref">Figure 90 illustrates an instance diagram.</p>
<table><tr><td><img alt="Product Type Shape" src="./diagrams/product-type-shape.png" usemap="#f90"><map name="f90"><area shape="rect" coords="8,8,176,224" href="../ifckernel/lexical/ifctypeproduct.htm" alt="IfcTypeProduct" /><area shape="rect" coords="208,8,376,68" href="../ifcgeometryresource/lexical/ifcrepresentationmap.htm" alt="IfcRepresentationMap" /></map></td></tr><tr><td><p class="figure">Figure 90 &mdash; Product Type Shape</p></td></tr></table>

<p><a href="../../link/product-type-shape.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
