<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <link rel="stylesheet" type="text/css" href="../../details-shim.css">
    <script type="text/javascript" src="../../details-shim.js"></script>
    <title>Product Assignment</title>

    <style type="text/css">
      body { counter-reset: index1 0 index2 0 index3 0 index4 -1 index5 0; }
    </style>
  </head>

  <body>


<script type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.6.4");
//-->
</script>

<h3 class="std">4.6.4 Product Assignment</h3>
<p>Products may have assignments indicating processes that operate upon the product.  An example of such assignment is a task to construct a wall.</p><p class="fig-ref">Figure 42 illustrates an instance diagram.</p>
<table><tr><td><img alt="Product Assignment" src="./diagrams/product-assignment.png" usemap="#f42"><map name="f42"><area shape="rect" coords="8,8,176,248" href="../ifckernel/lexical/ifcproduct.htm" alt="IfcProduct" /><area shape="rect" coords="208,8,376,104" href="../ifckernel/lexical/ifcrelassignstoproduct.htm" alt="IfcRelAssignsToProduct" /><area shape="rect" coords="408,8,576,212" href="../ifckernel/lexical/ifcobject.htm" alt="IfcObject" /></map></td></tr><tr><td><p class="figure">Figure 42 &mdash; Product Assignment</p></td></tr></table>

<p><a href="../../link/product-assignment.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
