<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <link rel="stylesheet" type="text/css" href="../../details-shim.css">
    <script type="text/javascript" src="../../details-shim.js"></script>
    <title>Project Declaration</title>

    <style type="text/css">
      body { counter-reset: index1 0 index2 0 index3 0 index4 -1 index5 0; }
    </style>
  </head>

  <body>


<script type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.1.1");
//-->
</script>

<h3 class="std">4.1.1 Project Declaration</h3>
<p>The project provides a directory of object types and property templates contained within using declaration relationships.</p>


<blockquote class="note">NOTE&nbsp; The actual object occurrences used within the context of a project, such as walls, beams, air outlets, are assigned to a spatial hierarchy that is linked to the project using the aggregation hierarchy. See concept <a href="spatial-decomposition.htm">Spatial Decomposition</a> for linking a spatial structure to the project.</blockquote>

<blockquote class="history">HISTORY&nbsp; New concept template enabled by schema enhancements in IFC4.</blockquote>
<p class="fig-ref">Figure 2 illustrates an instance diagram.</p>
<table><tr><td><img alt="Project Declaration" src="./diagrams/project-declaration.png" usemap="#f2"><map name="f2"><area shape="rect" coords="8,8,176,236" href="../ifckernel/lexical/ifccontext.htm" alt="IfcContext" /><area shape="rect" coords="208,8,376,20" href="../ifcmeasureresource/lexical/ifclabel.htm" alt="IfcLabel" /><area shape="rect" coords="208,40,376,52" href="../ifcmeasureresource/lexical/ifclabel.htm" alt="IfcLabel" /><area shape="rect" coords="208,72,376,84" href="../ifcmeasureresource/lexical/ifclabel.htm" alt="IfcLabel" /><area shape="rect" coords="208,104,376,188" href="../ifckernel/lexical/ifcreldeclares.htm" alt="IfcRelDeclares" /></map></td></tr><tr><td><p class="figure">Figure 2 &mdash; Project Declaration</p></td></tr></table>

<p><a href="../../link/project-declaration.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
