<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <link rel="stylesheet" type="text/css" href="../../details-shim.css">
    <script type="text/javascript" src="../../details-shim.js"></script>
    <title>Resource Type Assignment</title>

    <style type="text/css">
      body { counter-reset: index1 0 index2 0 index3 0 index4 -1 index5 0; }
    </style>
  </head>

  <body>


<script type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.6.8");
//-->
</script>

<h3 class="std">4.6.8 Resource Type Assignment</h3>
<p>Resource types may have assignments indicating re-usable product types for which occurrences may be sourced by occurrences of the resource type.  An example of such assignment is a particular crane model that may be used for a crane equipment resource used for erecting steel.</p><p class="fig-ref">Figure 46 illustrates an instance diagram.</p>
<table><tr><td><img alt="Resource Type Assignment" src="./diagrams/resource-type-assignment.png" usemap="#f46"><map name="f46"><area shape="rect" coords="8,8,176,236" href="../ifckernel/lexical/ifctyperesource.htm" alt="IfcTypeResource" /><area shape="rect" coords="208,8,376,104" href="../ifckernel/lexical/ifcrelassignstoresource.htm" alt="IfcRelAssignsToResource" /><area shape="rect" coords="408,8,576,224" href="../ifckernel/lexical/ifctypeproduct.htm" alt="IfcTypeProduct" /></map></td></tr><tr><td><p class="figure">Figure 46 &mdash; Resource Type Assignment</p></td></tr></table>

<p><a href="../../link/resource-type-assignment.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
