<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <link rel="stylesheet" type="text/css" href="../../details-shim.css">
    <script type="text/javascript" src="../../details-shim.js"></script>
    <title>Resource Assignment</title>

    <style type="text/css">
      body { counter-reset: index1 0 index2 0 index3 0 index4 -1 index5 0; }
    </style>
  </head>

  <body>


<script type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.6.6");
//-->
</script>

<h3 class="std">4.6.6 Resource Assignment</h3>
<p>Resources may have assignments indicating sources available to be used.  An example of such assignment is a person fulfilling a carpenter labor resource.</p><p class="fig-ref">Figure 44 illustrates an instance diagram.</p>
<table><tr><td><img alt="Resource Assignment" src="./diagrams/resource-assignment.png" usemap="#f44"><map name="f44"><area shape="rect" coords="8,8,176,248" href="../ifckernel/lexical/ifcresource.htm" alt="IfcResource" /><area shape="rect" coords="208,8,376,104" href="../ifckernel/lexical/ifcrelassignstoresource.htm" alt="IfcRelAssignsToResource" /><area shape="rect" coords="408,8,576,236" href="../ifckernel/lexical/ifcactor.htm" alt="IfcActor" /><area shape="rect" coords="408,256,576,496" href="../ifckernel/lexical/ifcproduct.htm" alt="IfcProduct" /></map></td></tr><tr><td><p class="figure">Figure 44 &mdash; Resource Assignment</p></td></tr></table>

<p><a href="../../link/resource-assignment.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
