<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <link rel="stylesheet" type="text/css" href="../../details-shim.css">
    <script type="text/javascript" src="../../details-shim.js"></script>
    <title>Structural Connectivity</title>

    <style type="text/css">
      body { counter-reset: index1 0 index2 0 index3 0 index4 -1 index5 0; }
    </style>
  </head>

  <body>


<script type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.7.7");
//-->
</script>

<h3 class="std">4.7.7 Structural Connectivity</h3>
<p>Structural items may be connected within an analysis model.</p><p class="fig-ref">Figure 56 illustrates an instance diagram.</p>
<table><tr><td><img alt="Structural Connectivity" src="./diagrams/structural-connectivity.png" usemap="#f56"><map name="f56"><area shape="rect" coords="8,8,176,272" href="../ifcstructuralanalysisdomain/lexical/ifcstructuralmember.htm" alt="IfcStructuralMember" /><area shape="rect" coords="208,8,376,140" href="../ifcstructuralanalysisdomain/lexical/ifcrelconnectsstructuralmember.htm" alt="IfcRelConnectsStructuralMember" /><area shape="rect" coords="408,8,576,284" href="../ifcstructuralanalysisdomain/lexical/ifcstructuralconnection.htm" alt="IfcStructuralConnection" /></map></td></tr><tr><td><p class="figure">Figure 56 &mdash; Structural Connectivity</p></td></tr></table>

<p><a href="../../link/structural-connectivity.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
