<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <link rel="stylesheet" type="text/css" href="../../details-shim.css">
    <script type="text/javascript" src="../../details-shim.js"></script>
    <title>Structural Activity</title>

    <style type="text/css">
      body { counter-reset: index1 0 index2 0 index3 0 index4 -1 index5 0; }
    </style>
  </head>

  <body>


<script type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.7.6");
//-->
</script>

<h3 class="std">4.7.6 Structural Activity</h3>
<p>Structural activities may be linked to structural items.</p><p class="fig-ref">Figure 55 illustrates an instance diagram.</p>
<table><tr><td><img alt="Structural Activity" src="./diagrams/structural-activity.png" usemap="#f55"><map name="f55"><area shape="rect" coords="8,8,176,284" href="../ifcstructuralanalysisdomain/lexical/ifcstructuralactivity.htm" alt="IfcStructuralActivity" /><area shape="rect" coords="208,8,376,32" href="../ifcstructuralloadresource/lexical/ifcstructuralload.htm" alt="IfcStructuralLoad" /><area shape="rect" coords="208,52,376,136" href="../ifcstructuralanalysisdomain/lexical/ifcrelconnectsstructuralactivity.htm" alt="IfcRelConnectsStructuralActivity" /><area shape="rect" coords="408,8,576,260" href="../ifcstructuralanalysisdomain/lexical/ifcstructuralitem.htm" alt="IfcStructuralItem" /></map></td></tr><tr><td><p class="figure">Figure 55 &mdash; Structural Activity</p></td></tr></table>

<p><a href="../../link/structural-activity.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
