<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <link rel="stylesheet" type="text/css" href="../../details-shim.css">
    <script type="text/javascript" src="../../details-shim.js"></script>
    <title>Swept Solid Geometry</title>

    <style type="text/css">
      body { counter-reset: index1 0 index2 0 index3 0 index4 -1 index5 0; }
    </style>
  </head>

  <body>


<script type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.11.3.1.1");
//-->
</script>

<h5 class="std">4.11.3.1.1 Swept Solid Geometry</h5>
<p class="fig-ref">Figure 103 illustrates an instance diagram.</p>
<table><tr><td><img alt="Swept Solid Geometry" src="./diagrams/swept-solid-geometry.png" usemap="#f103"><map name="f103"><area shape="rect" coords="8,8,176,68" href="../ifcgeometricmodelresource/lexical/ifcsweptareasolid.htm" alt="IfcSweptAreaSolid" /><area shape="rect" coords="208,8,376,80" href="../ifcpresentationappearanceresource/lexical/ifcstyleditem.htm" alt="IfcStyledItem" /><area shape="rect" coords="408,8,576,56" href="../ifcpresentationappearanceresource/lexical/ifcsurfacestyle.htm" alt="IfcSurfaceStyle" /><area shape="rect" coords="408,76,576,88" href="../ifcmeasureresource/lexical/ifclabel.htm" alt="IfcLabel" /><area shape="rect" coords="208,100,376,160" href="../ifcprofileresource/lexical/ifcprofiledef.htm" alt="IfcProfileDef" /></map></td></tr><tr><td><p class="figure">Figure 103 &mdash; Swept Solid Geometry</p></td></tr></table>

<p><a href="../../link/swept-solid-geometry.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
