
BODY {
  font-family: Arial;
  font-size: 10pt;
  margin-left: 2pt;
  margin-top: 2pt;
}

H1 {
  font-family: Arial;
  font-size: 150%;
  text-align: left;
}

H2 {
  text-align: left;
  font-family: Arial;
  font-size: 120%;
}

H3 {
  font-family: Arial;
  font-size: 100%;
  text-align: left;
  font-style: italic;
}

H4 {
  font-family: Arial;
  font-size: 80%;
  text-align: left;
  font-style: italic;
}

UL {
  font-family: Arial;
  font-style: normal;
}

LI {
  font-family: Arial;
  font-style: normal;
}

OL {
  font-family: Arial;
  font-style: normal;
}

DL {
  font-family: Arial;
  font-style: italic;
  font-size: 90%;
  font-style: italic;
  color: blue;
}

DT {
  font-family: Arial;
  font-style: italic;
  font-size: 90%;
  font-style: italic;
  color: blue;
}

A {
  font-style: normal;
}

DD {
  font-size: 10pt;
}

TD {
  font-family: Arial Narrow;
  font-size: 8pt;
  font-weight: bold;
}

TD.head {
  font-size: 10pt;
  font-weight: bold;
}

TD.normal {
  font-size: 10pt;
  font-weight: bold;
}
